@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Caveat';
    src: url(./assets/fonts/Caveat/Caveat-Regular.ttf);
}

:root {
    --font-family-body: 'Poppins';
    --font-family-heading: 'Caveat';

    --primary-color: #023047;
    --secondary-color: #f07167;
    --tertiary-color: #fed9b7;

    --font-color-theme: #ffffff;
    --font-color-theme-inverse: #000000;
}
