html,
body,
#root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.debug {
    border: 4px solid rgba(149, 0, 194, 0.5);
}

body {
    background-color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
