.chatroom {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 20rem;

    &__head {
        display: flex;
        justify-content: center;
        background-color: var(--tertiary-color);
        min-height: 5rem;
        font-family: var(--font-family-heading);

        h1 {
            font-size: 3rem;
        }
    }

    &__body {
        font-family: var(--font-family-body);
        background-color: var(--secondary-color);
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: hidden;
        padding: 0.5rem;
    }

    &__wrapper {
        overflow-y: auto;
    }

    &__foot {
        display: flex;
        background-color: var(--tertiary-color);
        min-height: 5rem;
        padding: 1rem;
    }

    &__textarea {
        resize: none;
        flex: 9 0 auto;
    }

    &__button {
        flex: 1 0 auto;
    }

    &__message {
        display: flex;
        align-items: center;
        margin: 0.5rem;
        color: var(--primary-color);

        .other__message {
            color: var(--font-color-dark);
            background-color: var(--primary-color);
            border-radius: 0px 16px 16px 16px;
            font-size: 1rem;
            padding: 1rem;
            margin: 0;
        }

        &.is-mine {
            flex-flow: row-reverse nowrap;

            .my__message {
                color: var(--primary-color);
                background-color: var(--secondary-color);
                border-radius: 16px 0px 16px 16px;
                border: 2px solid var(--primary-color);
                font-size: 1rem;
                padding: 1rem;
                margin: 0;
            }
        }
    }

    &__avatar {
        width: 4rem;
        height: 4rem;
        margin: 1rem;
        border: 2px solid var(--primary-color);
        border-radius: 100%;
    }
}

.flex_row {
    display: flex;
    flex-direction: row;
    &.reverse {
        flex-direction: row-reverse;
    }
    &.space-between {
        justify-content: space-between;
    }
}

.font-small {
    font-size: 0.8rem;
}
.font-medium {
    font-size: 1rem;
}
.font-large {
    font-size: 1.2rem;
}
